html *
{
    font-family: 'Roboto', sans-serif;
}

.button
{
    /* Text Appearance*/
    font-weight: 700;
    font-size: 25px;
    text-decoration: none;
    color: white;

    /* Button Appearance*/
    padding: 15px;
    width: 200px;
    text-align: center;
    display: inline-block;
    margin-top: 60px;
    border-radius: 30px;
}

@media (max-width: 1284px)
{
    .button
    {
        color: red
    }
}