html *
{
    font-family: 'Roboto', sans-serif;
}

.navbar
{
    background-color: black;
    color:white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    text-decoration: underline;
}

.buttonCollection
{
    margin-left: auto;
    margin-right: auto;
}


/* This is for mobile screens */
@media (min-width:320px)
{
    .button
    {
        /* Text Appearance*/
        font-weight: 700;
        font-size: 40px;
        text-decoration: none;
        color: white;
    
        /* Button Appearance*/
        padding: 50px;
        width: 200px;
        text-align: center;
        display: inline-block;
        margin-top: 20%;
        border-radius: 100px;
    }

    .buttonCollection
    {
        margin-top: 15%;
        width: 30%; /* Idk why this even works */
    }

    .navbar
    {
        
    }

}

/* This is for desktop screens */
@media (min-width:1025px)
{
    .button
    {
        /* Text Appearance*/
        font-weight: 700;
        font-size: 25px;
        text-decoration: none;
        color: white;
    
        /* Button Appearance*/
        padding: 15px;
        width: 500px;
        text-align: center;
        display: inline-block;
        margin-top: 60px;
        border-radius: 30px;
    }

    .buttonCollection
    {
        margin-top: 5%;
        width: 35%; /* Idk why this even works */
    }

    .navbar
    {
        font-size: 20px;
    }
}

